<!DOCTYPE html>
<html>
<head>
    <title>Road Condition Detection</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Road Condition Detection</h1>

    <form action="/predict"
          method="POST"
          enctype="multipart/form-data">

        <input type="file"
               name="file"
               required>

        <button type="submit">
            Detect
        </button>

    </form>

    {% if uploaded %}

        <h2>Detection Result</h2>

        <img src="{{ output_image }}"
             width="700">

    {% endif %}

</body>
</html>